# dependencies
asyncio
beautifulsoup4
colorama
duckduckgo_search
md2pdf
playwright
python-dotenv
pyyaml
selenium
webdriver-manager
python-multipart
markdown
langchain
tavily-python
arxiv
PyMuPDF
requests
jinja2
aiofiles
newspaper3k
SQLAlchemy
langchain-openai
mistune
python-docx
htmldocx
lxml_html_clean
litellm
youtube-transcript-api
aiofiles
moviepy
setuptools
simsimd==3.7.7
fastapi==0.103.2
uvicorn==0.23.2
openai
pypdf2
Pillow
pytesseract
docx2txt
python-pptx==0.6.21
pydantic==2.4.2
supabase
git+https://github.com/willgbryan/langchain-reach-edition.git#subdirectory=libs/community
pipdeptree
markdown2