# dependencies
asyncio
beautifulsoup4
colorama
duckduckgo_search
md2pdf
playwright
python-dotenv
pyyaml
selenium
webdriver-manager
python-multipart
markdown
langchain
tavily-python
arxiv
PyMuPDF
requests
jinja2
aiofiles
newspaper3k
git+https://github.com/willgbryan/langchain-reach-edition.git#subdirectory=libs/community&egg=langchain_community
SQLAlchemy
langchain-openai
mistune
python-docx
htmldocx
lxml_html_clean
litellm
# unstructured[all-docs]
youtube-transcript-api
# git+https://github.com/openai/whisper.git
aiofiles 
moviepy
# hubspot-api-client
setuptools
simsimd == 3.7.7
fastapi==0.103.2
uvicorn==0.23.2
openai
python-pptx==0.6.21
pydantic==2.4.2